.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.student-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 16px;
}

.subject-form {
  display: flex;
  align-items: center;
  gap: 16px;
}

.stored-marks {
  margin-top: 24px;
}

.student-record {
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 16px;
}

mat-toolbar {
  background-color: rgb(226, 5, 5);
  color: white;
}
.back-button {
  color: white;
}
