<mat-toolbar color="dark">
    <button mat-icon-button (click)="goBack()" class="back-button">
      <mat-icon class="back-icon">arrow_back</mat-icon>
    </button>
    <span style="color: white;">Fee Details</span>
</mat-toolbar>

<div class="fee-card" routerLink="/fee-details">
    <h1 class="fee-title">For STATE Syllabus</h1>
    <p class="fee-details">1st-8th Standard: 800 Rs</p>
    <p class="fee-details">9th-10th Standard: 1500 Rs</p>

    <h1 class="fee-title">For CBSE Syllabus</h1>
    <p class="fee-details">1st-8th Standard: 1000 Rs</p>
    <p class="fee-details">9th-10th Standard: 2000 Rs</p>

    <h1 class="fee-title">For ICSE Syllabus</h1>
    <p class="fee-details">8th Standard: 1500 Rs</p>
    <p class="fee-details">9th-10th Standard: 2500 Rs</p>
</div>

<style>
  .back-button {
    color: white;
  }

  .back-icon {
    color: white;
  }

  .fee-card {
    padding: 16px;
    background-color: #f3f7fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 16px;
  }

  .fee-title {
    color: #333;
    font-weight: 600;
    font-size: 18px;
    
    text-align: left;
    border-bottom: 2px solid #66a9f0;
    padding-bottom: 8px;
    margin-bottom: 12px;
  }

  .fee-details {
    color: #666;
    font-size: 16px;
    
    margin: 8px 0;
    padding-left: 10px;
    background-color: #eaf3ff;
    border-left: 4px solid #66a9f0;
    padding: 8px;
    border-radius: 4px;
  }
</style>
