
.fee-payment-list {
    padding: 16px;
    text-align: left;
  }
  
  mat-toolbar {
    color: white;
  }
  .custom-toolbar {
    background-color: #f44336;
  }
  
  .back-button {
    color: white;
  }
  
  