
    .toolbar {
        mat-icon {
          color: white; 
        }
      
      
    background-color: red; 
    }
  
  .title {
    color: white;
    font-weight: bold;
  }
  
  .container {
    padding: 20px;
  }
  
  .verify-otp-button {
    background-color: black; 
    color: white;
  }
 
  
  