<mat-toolbar color="warn" class="toolbar">
    <button mat-icon-button color="primary" (click)="goBackToLogin()">
      <mat-icon>arrow_back</mat-icon> 
    </button>
    <span class="title">Forgot Password</span>
    <span class="spacer"></span>
  </mat-toolbar>
  
  <div class="container">
    <form [formGroup]="otpForm">
      <mat-form-field appearance="outline" *ngIf="!otpSent">
        <mat-label>Phone Number</mat-label>
        <input matInput type="tel" formControlName="phone" required />
        <mat-error *ngIf="otpForm.get('phone')?.hasError('required')">Phone number is required.</mat-error>
        <mat-error *ngIf="otpForm.get('phone')?.hasError('pattern')">Enter a valid 10-digit phone number.</mat-error>
      </mat-form-field><br>
  
      <button mat-raised-button color="primary" (click)="sendOtp()" *ngIf="!otpSent" [disabled]="otpForm.get('phone')?.invalid">Send OTP</button>
  
      <mat-form-field appearance="outline" *ngIf="otpSent">
        <mat-label>Enter OTP</mat-label>
        <input matInput formControlName="otp" required />
        <mat-error *ngIf="otpForm.get('otp')?.hasError('required')">OTP is required.</mat-error>
      </mat-form-field>
  
      <button mat-raised-button class="verify-otp-button" (click)="verifyOtp()" *ngIf="otpSent" [disabled]="otpForm.get('otp')?.invalid">Verify OTP</button>
    </form>
  
    <div *ngIf="passwordVisible">
      <p>Your password is: <strong>{{ retrievedPassword }}</strong></p>
      <button mat-button color="warn" (click)="goBackToLogin()">Back to Login</button>
    </div>
  </div>
  