
.time-table-toolbar {
    display: flex;
    align-items: center;
  }
  
  
  .back-button .white-icon {
    color: white;
  }
  
  
  .time-table-content {
    padding: 16px;
    text-align: center;
  }
  