
<mat-toolbar color="warn" class="time-table-toolbar">
    <button mat-icon-button routerLink="/tab1" aria-label="Back to Tab 1" class="back-button">
      <mat-icon class="white-icon">arrow_back</mat-icon>
    </button>
    <span>Time Table</span>
  </mat-toolbar><br>
  
  
  <div class="time-table-content" style="padding: 16px;">
    <img src="image/WhatsApp Image 2024-10-07 at 12.37.26 PM.jpeg" 
         alt="Time Table" 
         style="width: 100%; display: block; margin: 0 auto;"><br>
    <img src="image/WhatsApp Image 2024-10-07 at 12.37.26 PM (1).jpeg" 
         alt="Time Table" 
         style="width: 100%; display: block; margin: 0 auto;">
  </div>
  